{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>

    <button id="buttonScroll">
        <img src="/svg/scroll__top.svg">
    </button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}